<section class="drop_100">
  <div class="col-md-12">
    <%= "CreatePage:" %>
  </div>
</section>

<section class="drop_100">
  <div class="col-md-3">
  	<%= render 'layouts/creds_instruct' %>
  </div>
  <div class="col-md-9">
    <%= render 'layouts/layout_test' %>
	</div>
</section>
