<section class="drop_100">
  <div class="col-md-12">
    <%= render 'layouts/creds_table' %>
  </div>
</section>

<section class="drop_100">
  <div class="col-md-5 container">
    <!-- Run Process Controller A to make the @orgional_sheet_content var available -->
  	<% process_controller_A(@credential.client_id, @credential.client_secret, @credential.ws_key) %>
    <%= render 'layouts/origional_rows_table' %>
  </div>
  <div class="col-md-7 container">
    <%= render 'layouts/new_rows_table' %>
	</div>
</section>