<div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title centre"><centre>Google Drive Credentials</centre></h3>
      </div>
      <div class="panel-body">
        <table class="table table-bordered table-responsive table-primary">
          <tr>
            <th>Client ID</th>
            <th>Client Secret</th>
            <th>Spreadsheet Key</th>
          </tr>
         
            <tr>
              <td><%= @credential.client_id %></td>
              <td><%= @credential.client_secret %></td>
              <td><%= @credential.ws_key %></td>
            </tr>
        </table>
      </div>
</div>