<div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title centre"><centre>Origional Data Snapshot</centre></h3>
      </div>
      <div class="panel-body">
        <table class="table table-bordered table-responsive table-striped">
          <tr>
            <th>Business Name</th>
            <th>Address</th>
          </tr>
           <% @orgional_sheet_content.each do |row| %>
            <tr>
              <td><%= row[0] %></td>
              <td><%= row[1] %></td>
            </tr>
          <% end %>
        </table>
      </div>
</div>